// A SUpermix
#a-supermix {
  padding: 100px 0;

  h2 {
    color: #191919 !important;
    font-size: 2.5rem;
    font-weight: $bold;
    position: relative;
    margin-bottom: 50px;

    &:after {
      content: '';
      width: 50px;
      height: 10px;
      background-color: $corPrimaria;
      position: absolute;
      left: 0;
      bottom: -20px;
    }
  }
}

#nossos-valores {
  padding: 100px 0;

  .container {
    .row {
      .conteudo {
        padding: 25px 42px;
        box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.18);
        min-height: 480px;

        .icon {
          width: auto;
          margin: 0 auto;
          display: block;
        }

        h3 {
          color: #0c0c0c;
          font-size: 1.8rem;
        }

        p{
          font-size: 1rem;
        }
      }
    }
  }
}

#codigo-de-conduta{
  padding: 100px 0;
}

