.btn {
  border-radius: 50px;
  font-size: 16px;
  padding: 10px 40px;
  color: $corBranca;
  transition: $transicaoPadrao;
  position: relative;

  &.btn-primario {
    background: $corSecundaria;
    transition: $transicaoPadrao;
    top: 0;
    left: 0;
    font-weight: $medium;
    font-size: 1.18rem;
    border: 3px solid $corSecundaria;

    &:hover {
      color: $corPrimaria;
      background-color: transparent;
      border: 3px solid $corPrimaria;
    }

    &.btn-small{
      font-size: 1rem;
    }
  }

  &.btn-secundario {
    background: $corBranca;
    color: $corPrimaria;
    font-weight: 400;

    &:hover {
      background: $corPrimaria;
      color: $corBranca;
    }
  }

  &.btn-destaque {
    background: #ff8400;

    &:hover{
      background-color: $corPrimaria;
      color: $corBranca;
    }
  }

  &.btn-bordered {
    background: transparent;
    color: $corPrimaria;
    border: 3px solid $corPrimaria;
    font-weight: $bold;

    &:hover {
      background-color: $corPrimaria;
      color: $corBranca;
    }

    font-size: 1.15rem;
  }

  &.btn-black {
    font-size: 1.25rem;
    font-weight: $bold;
    background: #0c0c0c;
    border: 3px solid #0c0c0c;

    &:hover{
      background-color: transparent;
      color: #0c0c0c;
    }
  }
}