.body-fale-conosco {
  background-color: #0c0c0c;

  #orcamento {
    background-color: #0c0c0c;
    padding: 80px 0;

    .titulo {
      font-size: 4.125rem;
      color: $corBranca;
      margin-top: 80px;
    }

    .form-group {
      select {
        background-position-x: 500px;
      }
    }

    .btn-secundario {
      padding: 10px 60px;
    }
  }
}