
// Largura Máxima de 767 Pixels
@media(max-width: 767px) {
  img.slide-desktop{
    display: none;
  }
  .slides {
    h2 {
      font-size: 28px !important;
    }
  }
  #o-que-e-obesidade .container .row .col-md-5:before {
    z-index: -2;
  }

  #o-que-e-obesidade {
    padding: 0;
    margin-top: 120px;
  }

  #o-que-e-obesidade .container{
    top: -70px;
    position: relative;
  }
  #conheca-o-doutor .conheca-o-dr-bg{
    left: -250% !important;
    position:absolute !important;
    width: 500%;
    bottom: 50px;
    opacity: .7;
  }

  #o-que-e-obesidade .container .row .col-md-5 img.secoes-alternadas {
    margin-bottom: 50px;
  }
  section #slide-bootstrap .carousel-item .container .text-slide {
    font-size: 1rem;
  }
  #depoimentos .container .depoimentos-carousel .baloon p{
    font-size: 0.7rem;
    line-height: 1.2rem;
  }
  #dr-na-midia .container .row .col-md-5:before {
    z-index: -1;
  }

  #dr-na-midia {
    padding: 20px 0;
  }

  #dr-na-midia .row {
    flex-direction: column-reverse;
  }

  #dr-na-midia .container {
    position: relative;
    top: -70px;
  }
  #dr-na-midia .container .row .col-md-5 img.secoes-alternadas{
    margin-bottom: 20px;
  }
  footer .informacoes {
    flex-direction: row;
    text-align: left;
  }
  footer .informacoes {
    flex-direction: row;
    text-align: left;
    margin-top: 50px !important;
  }
  footer .informacoes {flex-direction: row;text-align: left;margin-top: 50px !important;}

  footer .logo-footer img {
    display: block;
    margin: 0 auto 30px auto;
  }
  #calculadora-imc .container .row .col-md-5:before {
    z-index: -1;
  }

  #calculadora-imc {
    padding: 20px;
  }

  #calculadora-imc .container {
    position: relative;
    top: -70px;
  }
  #calculadora-imc .container .row .col-md-5 img.secoes-alternadas {
    margin-bottom: 40px;
  }
  div#resultado {
    margin-top: 30px;
    margin-left: 20px;
  }
  html body #menu-tecnicas {
    margin-left: 0;
  }
  html body #contato .social-media .endereco .icon-wrapper {
    width: 40px !important;
  }
  section#topo-da-pagina .container #breadcrumbs span {
    font-size: 0.8rem;
    display: block;
  }
  section#topo-da-pagina .container #breadcrumbs span.breadcrumb_last {
    top: 8px;
  }
  footer .informacoes .email a {
    font-size: 0.8rem;
  }
  footer .informacoes .endereco .icon-wrapper {
    width: 46px !important;
  }
  section#depoimentos {
    background-position: 30%;
  }
}

// Largura Máxima de 990 Pixels
@media(max-width: 990px) {

  .mobile-menu-wrapper .contatos-mobile-wrapper .email a {
    font-size: 11px !important;
  }

  section #slide-bootstrap .carousel-item .container h2 p {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  section #slide-bootstrap .carousel-item .container .btn-primario {
    font-size: 16px;
  }
  #menu-secundario {
    .navbar-brand {
      img {
        width: 80px;
        position: relative;
        top: -8px;
      }
    }

    .navbar-desktop {
      display: none;
    }
  }
  #menu-secundario .container {
    padding-top: 10px;
    padding-bottom: 0;
  }
  html body #contato .contact-sidebar {
    width: 100%;
  }
  }

// Largura Mínima de 768 Pixels
@media(min-width: 768px) {
  img.slide-mobile{
    display: none;
  }
}