#call-to-action {
  margin-top: -100px;

  .container-fluid {
    .row {
      .bg-cta {
        filter: grayscale(1);
      }

      .conteudo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -35%);
        width: 100%;

        h2 {
          color: $corPreta;
          font-size: 4.8rem;
          font-weight: $extraBold;
        }
      }
    }
  }
}