#calculadora-imc {
  background-color: $corSecundaria;
  padding: 70px;
  margin-top: 80px;

  .container {
    .row {
      .col-md-5 {
        &:before {
          content: '';
          width: 47vw;
          height: 500px;
          top: -80px;
          position: absolute;
          background-color: #fff;
          right: 20%;
          z-index: 0;
        }

        img {
          &.secoes-alternadas {
            z-index: 1;
            position: relative;
            height: 100%;
          }
        }

      }

      .col-md-7 {
        .input-imc {
          height: 45px;
          border: 2px solid $corBranca;
          border-radius: 50px;
          background-color: transparent;
          margin-bottom: 14px;
          width: 100%;
          padding: 0 25px;
          color: $corBranca;
          transition: $transicaoPadrao;

          &::placeholder {
            color: $corBranca ;
            opacity: 1; /* Firefox */
          }

          &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: $corBranca;
          }

          &::-ms-input-placeholder { /* Microsoft Edge */
            color: $corBranca;
          }

          &:focus{
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.67);
          }
        }


        .imc {
          opacity: 0;
          transition: $transicaoPadrao;
        }

        p {
          color: $corBranca;
        }
      }
    }
  }
}