#nossos-produtos {
  .row {
    .conteudo {
      box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.9);
      background-size: 155%;
      background-position: bottom left;
      padding: 110px 180px 110px 220px;
      max-height: 710px;

      h2 {
        font-size: 3.125rem;

        p {
          line-height: 3.125rem;
        }
      }

      p {
        color: #ffffff;
        font-weight: 500;
        line-height: 1.3rem;
      }
    }

    .img-banner-nossos-produtos {
      width: auto;
      height: 100%;
    }

    .banner-content {
      background: rgba(0, 0, 0, 0.49);
      position: absolute;
      top: 50%;
      left: 25%;
      width: 470px;
      transform: translate(-25%, -50%);
      padding: 100px 45px;

      h4 {
        font-size: 1.875rem;
        margin-bottom: 50px;
      }

      h5 {
        font-size: 1.2rem;
      }

      .view-products {
        width: 50px;
        height: 50px;
        border: 3px solid $corBranca;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        margin: 75px auto 0 auto;
        color: $corBranca;
        font-size: 22px;
        transition: $transicaoPadrao;

        &:hover {
          border: 3px solid $corPrimaria;
          color: $corPrimaria;
        }
      }
    }
  }

}

#blocks {
  padding: 70px 0;

  .container {
    .row {
      .content {
        background: #0c0c0c;
        padding: 45px;
        min-height: 425px;

        h4 {
          font-size: 1.438rem;
        }

        p {
          text-align: justify;
          color: $corBranca;
          line-height: 1.2rem;
        }

        .btn-bordered {
          font-size: 1.063rem;
        }
      }
    }
  }
}

#single-produto {
  padding: 80px 0;

  article {
    .container {
      .row {

        .wp-post-image {
          object-fit: cover;
          margin: 35px 0;
        }

        .content {

          h3 {
            font-size: 1.675rem;
            font-weight: $bold;
          }

          h2, h3, h4, h5, h6 {
            color: #0c0c0c;
            text-transform: capitalize;
          }

          ul {
            padding-left: 15px;

            li {
              list-style: none;
            }
          }

          .download-arquivo {
            line-height: 2.2;

            svg {
              position: relative;
              font-size: 30px;
              margin-left: 10px;
              bottom: -3px;
            }
          }
        }

        .navbar-produtos {
          list-style: none;
          padding: 10px 18px;
          background: #000;
          margin-bottom: 50px;
          box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.18);

          li {
            padding: 10px 18px;
            border-bottom: 1px solid #878787;
            line-height: 1.3rem;

            &:last-child {
              border: none;
            }

            a {
              color: #fff;
              font-weight: 600;
              transition: $transicaoPadrao;

              &:hover {
                text-decoration: none;
                color: $corPrimaria;
              }
            }
          }
        }
      }
    }
  }
}